<main class="container left-container">
  <div class="row">
    <div id="menu-target">
      <ul>
        {% assign pages_list = site.pages %}
        {% assign group = 'navigation' %}
        {% include JB/pages_list %}
      </ul>
    </div>
    <section class="sidebar col-md-5 col-sm-12" style="background-image: url(img/default-sidebar.jpg">
      <span class="menu-trigger animated fadeInDown">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
      </span>
    </section><!-- end sidebar -->

    <section class="col-md-7 col-sm-12 col-md-offset-5 main-content">
      <h1 class="page-header"><span class="floating-title">Meditations on Power and Conflict</span></h1>
      <img src="img/profile-emac.jpg" class="user-icon pull-right" alt="user-image">
      <h2 class="page-subheader"><span class="floating-title">Writing by Elyssa Macfarlane</span></h2>
      {{ content }}
      <footer class="split-footer">
          <a href="post.html">About</a>
          <i class="link-spacer"></i>
          <a href="post.html">Writer 2015</a>
      </footer>
    </section><!-- main content -->
  </div> <!--/row -->
</main> <!-- /container -->
