<main class="container left-container">
  <div class="row">
    <div id="menu-target">
      <ul>
        {% assign pages_list = site.pages %}
        {% assign group = 'navigation' %}
        {% include JB/pages_list %}
      </ul>
    </div>
    <section class="sidebar col-md-5 col-sm-12" style="background-image: url(img/default-sidebar.jpg">
      <span class="menu-trigger animated fadeInDown">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
      </span>
      <div class="site-info">
          <div class="primary-info">
              <h1>Elyssa Macfarlane</h1>
              <p> Confessions on truth, strategy and media manipulation.</p>
          </div>
          <div class="secondary-info">
              <p>
                  <a class="btn btn-danger" href="{{BASE_PATH}}/about.html"><i class="fa fa-user"></i>About Elyssa</a>
              </p>
          </div>
      </div>
    </section><!-- end sidebar -->

    <section class="col-md-7 col-sm-12 col-md-offset-5 main-content">
      {{ content }}
      <footer class="split-footer">
          <a href="post.html">About</a>
          <i class="link-spacer"></i>
          <a href="post.html">Writer 2015</a>
      </footer>
    </section><!-- main content -->
  </div> <!--/row -->
</main> <!-- /container -->
