<main class="container left-container">
  <div class="row">
    <div id="menu-target">
      <ul>
        {% assign pages_list = site.pages %}
        {% assign group = 'navigation' %}
        {% include JB/pages_list %}
      </ul>
    </div>
    <section class="sidebar col-md-5 col-sm-12" style="background-image: url(img/default-sidebar.jpg">
      <span class="menu-trigger animated fadeInDown">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
      </span>
      <div class="site-info">
          <div class="primary-info">
              <h1>Elyssa Macfarlane</h1>
              <p> Confessions on truth, strategy and media manipulation.</p>
          </div>
          <div class="secondary-info">
              <p>
                  <a class="btn btn-danger" href="{{BASE_PATH}}/about.html"><i class="fa fa-user"></i>About Elyssa</a>
              </p>
          </div>
      </div>
    </section><!-- end sidebar -->

    <section class="col-md-7 col-sm-12 col-md-offset-5 main-content">
      <div class="sub-nav">
          <a href="/" class="select-posts active">Latest</a>
          <a href="/archive.html" class="select-categories">Archive</a>
      </div>
      <div class="home-page-posts animated fadeIn ">
        {{ content }}
      </div><!-- Home page posts -->
      <div class="home-page-categories hide animated fadeIn ">
        <div class="category row">
          <section>
            <div class="category-preview col-xs-6 col-sm-4 ">
                <h2>Easy Living</h2>
                <a href="category.html"><img src="img/cover-2.jpg" alt="category-image"></a>
            </div>

            <div class="category-preview col-xs-6 col-sm-4 ">
                <h2>Adventure</h2>
                <a href="category.html"><img src="img/cover-4.jpg" alt="category-image"></a>
            </div>

            <div class="category-preview col-xs-6 col-sm-4 ">
                <h2>Storytime</h2>
                <a href="category.html"><img src="img/cover-6.jpg" alt="category-image"></a>
            </div>

            <div class="category-preview col-xs-6 col-sm-4 ">
                <h2>Open Roads</h2>
                 <a href="category.html"><img src="img/cover-9.jpg" alt="category-image"></a>
            </div>

            <div class="category-preview col-xs-6 col-sm-4 ">
                <h2>Gaming</h2>
                <a href="category.html"><img src="img/cover-1.jpg" alt="category-image" ></a>
            </div>

            <div class="category-preview col-xs-6 col-sm-4 ">
                <h2>City Life</h2>
                 <a href="category.html"><img src="img/cover-3.jpg" alt="category-image"></a>
            </div>

            <div class="category-preview col-xs-6 col-sm-4 ">
                <h2>Rave Culture</h2>
                 <a href="category.html"><img src="img/cover-5.jpg" alt="category-image"></a>
            </div>

            <div class="category-preview col-xs-6 col-sm-4 ">
                <h2>Photography</h2>
                <a href="category.html"><img src="img/cover-7.jpg" alt="category-image"></a>
            </div>

            <div class="category-preview col-xs-6 col-sm-4 ">
                <h2>Animal Kingdom</h2>
                 <a href="category.html"><img src="img/cover-8.jpg" alt="category-image"></a>
            </div>

            <div class="category-preview col-xs-6 col-sm-4 ">
                <h2>Beach</h2>
                <a href="category.html"><img src="img/cover-10.jpg" alt="category-image"></a>
            </div>

            <div class="category-preview col-xs-6 col-sm-4 ">
                <h2>Climbing</h2>
                 <a href="category.html"><img src="img/cover-11.jpg" alt="category-image"></a>
            </div>

            <div class="category-preview col-xs-6 col-sm-4 ">
                <h2>Mystery</h2>
                 <a href="category.html"><img src="img/cover-12.jpg" alt="category-image"></a>
            </div>
          </section>
        </div>
      </div>
      <footer class="split-footer">
          <a href="post.html">About</a>
          <i class="link-spacer"></i>
          <a href="post.html">Writer 2015</a>
      </footer>
    </section><!-- main content -->
  </div> <!--/row -->
</main> <!-- /container -->
