<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ ASSET_PATH }}/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ ASSET_PATH }}/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ ASSET_PATH }}/css/main.css">

    <!-- Fonts -->
    <link rel='stylesheet' id='redux-google-fonts-tn_theme_options-css' href='http://fonts.googleapis.com/css?family=Lato%3A100%2C300%2C400%2C700%2C900%2C100italic%2C300italic%2C400italic%2C700italic%2C900italic%7CNoticia+Text%3A400%2C700%2C400italic%2C700italic%7COld+Standard+TT%3A700&#038;subset=latin&#038;ver=1479194286' type='text/css' media='all'/>
    <link href="https://fonts.googleapis.com/css?family=Noticia+Text" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <!-- Update these with your own images
      <link rel="shortcut icon" href="images/favicon.ico">
      <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
      <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    -->

    <!-- atom & rss feed -->
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">

  </head>
  <body class="home blog tn-body tn-background">
    <div id="tn-site-wrap" class="cleafix">
      <header class="header-wrap header-background-image is-header-parallax" id="header">
        <div class="header-parallax-wrap">
          <div id="header-image-parallax">
          </div>
        </div>
        <div class="header-inner clearfix tn-container">
          <div class="logo-wrap" id="logo" itemscope="itemscope" itemtype="http://schema.org/Organization" role="banner">
            <a class="logo-image" href="/">
              <img alt="Meditations on Tech" class="logo-img-data" src="{{BASE_PATH}}img/logo-white.png">
            </a>
            <div class="header-social">
              <div class="social-bar-wrap clearfix">
                <a href="http://twitter.com/elyssamacf/" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a><a href="http://instagram.com/meditationsontech/" target="_blank" title="Instagram"><i class="fa fa-instagram"></i></a><a href="http://instagram.com/elyssamacf/" target="_blank" title="Bloglovin"><i class="fa fa-heart"></i></a>
              </div>
            </div>
          </div>
        </div>
      </header>
      <nav class="is-sticky-nav clearfix" id="navigation" style="min-height: 56px;">
        <div class="sticky-wrapper" id="sticky-wrapper" style="height: 56px;">
          <div class="nav-wrap">
            <div class="tn-container nav-inner clearfix">
              <div class="tn-mobile-main-menu-button">
                <a href="#" id="tn-button-mobile-menu-open"><span class="tn-mobile-menu-button"></span></a>
              </div>
              <div class="menu-wrap" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement" role="navigation">
                <ul class="main-menu" id="menu-main-menu">
                  <li class="menu-item">
                    <a href="/">Home</a>
                  </li>
                  <li class="menu-item">
                    <a href="/category/interviews/">Interviews</a>
                  </li>
                  <li class="menu-item">
                    <a href="/readinglist.html">Reading List</a>
                  </li>
                  <li class="menu-item">
                    <a href="/about.html">About</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>

      {{content}}

      <footer class="footer-wrap" id="footer">
        <div class="top-footer-wrap">
          <aside class="widget social-footer-counter">
            <div class="footer-social-counter">
              <div class="tn-container">
                <div class="counter-element">
                  <a class="instagram" href="http://instagram.com/meditationsontech" target="_blank" title="instagram"><i class="fa fa-instagram"></i> <span class="num-count">197.1k</span></a>
                  <div class="text-count">
                    <a class="instagram" href="http://instagram.com/meditationsontech" target="_blank" title="instagram">followers</a>
                  </div>
                </div>
                <div class="counter-element">
                  <a class="twitter" href="http://twitter.com/meditationsontech" target="_blank" title="twitter"><i class="fa fa-twitter"></i> <span class="num-count">168.9k</span></a>
                  <div class="text-count">
                    <a class="twitter" href="http://twitter.com/meditationsontech" target="_blank" title="twitter">followers</a>
                  </div>
                </div>
              </div>
            </div>
          </aside>
          <aside class="widget footer-instagram-widget">
            <div class="widget-title">
              <div class="widget-title-inner">
                <h3>Follow @ Instagram</h3>
              </div>
            </div>
            <div class="instagram-content-wrap row">
              <div class="footer-instagram-el tn-col-7">
                <a class="footer-instagram-link cursor-zoom" href="https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/15403545_1718433688473614_1968948231236747264_n.jpg"><img alt="" src="https://scontent.cdninstagram.com/t51.2885-15/s320x320/e35/15403545_1718433688473614_1968948231236747264_n.jpg"></a>
              </div>
              <div class="footer-instagram-el tn-col-7">
                <a class="footer-instagram-link cursor-zoom" href="https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/15047016_391810307825279_931806417726210048_n.jpg"><img alt="" src="https://scontent.cdninstagram.com/t51.2885-15/s320x320/e35/15047016_391810307825279_931806417726210048_n.jpg"></a>
              </div>
              <div class="footer-instagram-el tn-col-7">
                <a class="footer-instagram-link cursor-zoom" href="https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/15306124_1284809618254377_9208415466081484800_n.jpg"><img alt="" src="https://scontent.cdninstagram.com/t51.2885-15/s320x320/e35/15306124_1284809618254377_9208415466081484800_n.jpg"></a>
              </div>
              <div class="footer-instagram-el tn-col-7">
                <a class="footer-instagram-link cursor-zoom" href="https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/14677258_342340472808827_5893078468828069888_n.jpg"><img alt="" src="https://scontent.cdninstagram.com/t51.2885-15/s320x320/e35/14677258_342340472808827_5893078468828069888_n.jpg"></a>
              </div>
              <div class="footer-instagram-el tn-col-7">
                <a class="footer-instagram-link cursor-zoom" href="https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/15253109_345059459190067_1657049033346121728_n.jpg"><img alt="" src="https://scontent.cdninstagram.com/t51.2885-15/s320x320/e35/15253109_345059459190067_1657049033346121728_n.jpg"></a>
              </div>
              <div class="footer-instagram-el tn-col-7">
                <a class="footer-instagram-link cursor-zoom" href="https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/15253256_340160153021894_8290503168773586944_n.jpg"><img alt="" src="https://scontent.cdninstagram.com/t51.2885-15/s320x320/e35/15253256_340160153021894_8290503168773586944_n.jpg"></a>
              </div>
              <div class="footer-instagram-el tn-col-7">
                <a class="footer-instagram-link cursor-zoom" href="https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/14498938_1617746155188926_6716552265022308352_n.jpg"><img alt="" src="https://scontent.cdninstagram.com/t51.2885-15/s320x320/e35/14498938_1617746155188926_6716552265022308352_n.jpg"></a>
              </div>
            </div>
          </aside>
        </div>
        <div id="footer-copyright">
          <div class="copyright-inner tn-container">
            <div class="copyright copyright-el">
              Copyright © 2017 Elyssa Macfarlane.
            </div>
            <div class="copyright-social copyright-el">
              <div class="social-bar-wrap clearfix">
                <a href="http://twitter.com/meditationsontech/" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a><a href="http://instagram.com/meditationsontech/" target="_blank" title="Instagram"><i class="fa fa-instagram"></i></a><a href="http://twitter.com/elyssamacf/" target="_blank" title="Author"><i class="fa fa-heart"></i></a>
              </div>
            </div>
          </div>
        </div>
      </footer>

    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js"></script>
    <script src="{{ ASSET_PATH }}/js/jquery.jpanelmenu.min.js"></script>
    <script src="{{ ASSET_PATH }}/js/bootstrap.min.js"></script>

    <script src="{{ ASSET_PATH }}/js/main.js"></script>
  </body>
</html>
