<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link rel="stylesheet" href="{{ ASSET_PATH }}/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="{{ ASSET_PATH }}/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ ASSET_PATH }}/css/main.css">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noticia+Text" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <!-- Update these with your own images
      <link rel="shortcut icon" href="images/favicon.ico">
      <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
      <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    -->

    <!-- atom & rss feed -->
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">

  </head>
  <body class="home blog tn-body tn-background">
    <div id="tn-site-wrap" class="cleafix">
    <nav class="is-sticky-nav clearfix" id="navigation" style="min-height: 56px;">
      <div class="sticky-wrapper" id="sticky-wrapper" style="height: 56px;">
        <div class="nav-wrap">
          <div class="tn-container nav-inner clearfix">
            <div class="tn-mobile-main-menu-button">
              <a href="#" id="tn-button-mobile-menu-open"><span class="tn-mobile-menu-button"></span></a>
            </div>
            <div class="menu-wrap" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement" role="navigation">
              <ul class="main-menu" id="menu-main-menu">
                <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-home current-menu-ancestor current-menu-parent menu-item-has-children menu-item-136" id="menu-item-136">
                  <a href="http://demo.themeruby.com/maple/">Home</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>

    {{content}}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="{{ ASSET_PATH }}/js/jquery.jpanelmenu.min.js"></script>
    <script src="{{ ASSET_PATH }}/js/bootstrap.min.js"></script>
    <script src="{{ ASSET_PATH }}/js/fastclick.min.js"></script>

    <script src="{{ ASSET_PATH }}/js/main.js"></script>
  </body>
</html>
