<div class="ruby-page-wrap row clearfix no-sidebar tn-container about-width">
  <div class="ruby-content-wrap tn-single-page col-xs-12">
    <div class="about-page-inner">
      <div class="about-heading">
        {% if page.image %}
        <div class="thumb-wrap post-el">
          <a href="{{ BASE_PATH }}" rel="bookmark" title="{{page.title}}">
            <img alt="{{page.title}}" class="attachment-tn_classic size-tn_classic wp-post-image" src="{{ BASE_PATH }}img/{{page.image}}">
          </a>
        </div>
        {% endif %}
        <div class="about-title post-title">
          <h1>{{page.title}}</h1>
        </div>
      </div>
      <div class="entry">
        {{content}}
      </div>
    </div>
  </div>
</div>
